:root {
  --primary-color: #7952b3;
  --heading-font-family: "Playfair Display", serif;
  --p-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 120px 20px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
  text-align: center;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgb(59, 59, 59);
  font-family: var(--p-font-family);
  opacity: 50%;
}

i {
  text-align: center;
}

.navbar-brand {
  font-family: var(--heading-font-family);
}
.hamburger-menu {
  font-family: var(--p-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
  font-family: var(--p-font-family);
}

.hero h2 {
  font-family: var(--p-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  border-radius: 4px;
  color: #f9f7fe;
  background: var(--primary-color);
  line-height: 27px;
  font-size: 18px;
  padding: 12px 27px;
}

.btn-branding-outline {
  border-radius: 4px;
  color: #f9f7fe;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  line-height: 27px;
  font-size: 18px;
  padding: 15px 30px;
}

.link-project-1 {
  padding: 10px 10px 20px 95px;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.project-resume {
  padding: 90px 60px;
}

.landscape-spacing {
  padding: 75px;
}
.container2 {
  justify-content: space-evenly;
  color: rgb(59, 59, 59);
  padding: 25px 20px;
}

.social-media {
  justify-content: space-evenly;
  text-align: center;
}

.social-icons {
  font-family: var(--p-font-family);
  color: rgb(59, 59, 59);
}

@media (max-width: 960px) {
  .project-resume {
    padding: 0;
    text-align: center;
  }
  .landscape-spacing {
    padding: 0 0 50px;
    margin-bottom: -70px;
  }
}
