:root {
  --primary-color: #7952b3;
  --heading-font-family: "Playfair Display", serif;
  --p-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.container {
  max-width: 100%;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 120px 20px;
}

h1 {
  font-size: 96px;
  margin-top: 20px;
}

h2 {
  font-size: 64px;
  text-align: center;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgb(59, 59, 59);
  font-family: var(--p-font-family);
  opacity: 50%;
}

i {
  text-align: center;
}

.profile-photo {
  border-radius: 2.8px;
  text-align: center;
  justify-content: space-evenly;
}
.navbar-brand {
  font-family: var(--heading-font-family);
}
.hamburger-menu {
  font-family: var(--p-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
  font-family: var(--p-font-family);
}

.hero h2 {
  font-family: var(--p-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

img {
  background: #f9f7fe;
  text-align: center;
}

.btn-branding {
  border-radius: 4px;
  color: #f9f7fe;
  background: var(--primary-color);
  box-shadow: 7px 5px 5px rgb(196, 196, 196);
  line-height: 27px;
  font-size: 18px;
  padding: 12px 27px;
}

.btn-branding-outline {
  border-radius: 4px;
  color: #f9f7fe;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  line-height: 27px;
  font-size: 18px;
  padding: 15px 30px;
}

.link-project-1 {
  padding: 10px 10px 20px 95px;
}

a {
  text-decoration: none;
  font-family: var(--p-font-family);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.project-resume {
  padding: 90px 60px;
}

.landscape-spacing {
  padding: 75px;
}
.container2 {
  justify-content: space-evenly;
  color: rgb(59, 59, 59);
  padding: 25px 30px;
}

.social-media {
  justify-content: space-evenly;
  text-align: center;
}

.social-icons {
  font-family: var(--p-font-family);
  color: rgb(59, 59, 59);
}

.hero-about {
  background: #f9f7fe;
  text-align: center;
  padding: 60px 20px;
}
.info-about {
  padding: 12px 15px;
  margin: 38px;
}

.info-about-outline p {
  justify-content: space-evenly;
  font-size: 18px !important;
  font-family: var(--p-font-family);
  padding: 30px 35px;
  font-weight: normal;
  line-height: 30px;
}

.paragraph-about {
  text-decoration: none;
}

.hero-about p {
  text-align: center;
  font-size: 80px;
  margin: 35px;
}

.contact-header h1 {
  font-size: 64px;
  line-height: 80px;
}

.contact-header h2 {
  font-size: 32px;
  line-height: 80px;
  font-family: var(--p-font-family);
}
.contact-container {
  text-align: center;
  color: var(--primary-color);
  background: #f9f7fe;
}
.answer-question {
  display: flex;
  text-align: center;
  line-height: 30px;
  font-family: var(--p-font-family);
  justify-content: space-evenly;
}

@media (max-width: 960px) {
  .project-resume {
    padding: 0;
    text-align: center;
  }
  .landscape-spacing {
    padding: 0 0 50px;
    margin-bottom: -70px;
  }
  .project-description h2 {
    font-size: 55px;
  }
  .h2 {
    font-size: 50px;
  }
}
