:root {
  --primary-color: #7952b3;
  --heading-font-family: "Playfair Display", serif;
  --p-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(29, 29, 29);
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
}

.container {
  max-width: 100%;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 30px 20px;
}

h1 {
  font-size: 63px;
  margin-top: -23px;
}

h2 {
  font-size: 64px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 64px;
  color: #272142;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgb(59, 59, 59);
  font-family: var(--p-font-family);
  opacity: 50%;
}

i {
  text-align: center;
}

.profile-photo {
  border-radius: 2.8px;
  text-align: center;
  justify-content: space-evenly;
}

.navbar-brand {
  font-family: var(--heading-font-family);
}
.hamburger-menu {
  font-family: var(--p-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 26px;
  color: #272142;
  font-family: var(--p-font-family);
}

.hero h2 {
  font-family: var(--p-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

img {
  background: #f9f7fe;
  text-align: center;
}

.btn-branding {
  border-radius: 4px;
  color: #f9f7fe;
  background: var(--primary-color);
  box-shadow: 7px 5px 5px rgb(196, 196, 196);
  line-height: 27px;
  font-size: 18px;
  padding: 12px 27px;
  margin: 5px 5px 5px 196px;
}

.btn-branding__header {
  border-radius: 4px;
  color: #f9f7fe;
  background: var(--primary-color);
  box-shadow: 7px 5px 5px rgb(196, 196, 196);
  line-height: 27px;
  font-size: 18px;
  padding: 12px 27px;
}

.btn-branding__footer {
  border-radius: 4px;
  color: #f9f7fe;
  background: var(--primary-color);
  box-shadow: 7px 5px 5px rgb(196, 196, 196);
  line-height: 27px;
  font-size: 24px;
  padding: 15px 32px;
  margin: 15px 63px 7px 33px;
}

.btn-branding-outline {
  border-radius: 4px;
  color: #f9f7fe;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  line-height: 27px;
  font-size: 18px;
  padding: 15px 30px;
}

.link-project-1 {
  padding: 10px 10px 20px 95px;
}

a {
  text-decoration: none;
  font-family: var(--p-font-family);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.project-resume {
  padding: 90px 60px;
}

.landscape-spacing {
  padding: 0px;
}
.container2 {
  justify-content: space-evenly;
  color: rgb(59, 59, 59);
  padding: 25px 30px;
}

.hero-content {
  background: #f9f7fe;
  text-align: center;
  padding: 60px 20px;
}
.info-content {
  padding: 12px 15px;
  margin: 34px 38px 2px 38px;
}

.info-content-outline p {
  justify-content: space-evenly;
  font-size: 18px !important;
  font-family: var(--p-font-family);
  padding: 30px 35px;
  font-weight: normal;
  line-height: 30px;
}

.about-heading h1 {
  font-size: 52px;
}

.paragraph-about {
  text-decoration: none;
}

.hero-content p {
  text-align: center;
  font-size: 36px;
  margin: 25px;
}

.contact-page {
  font-size: 18px;
  color: rgb(59, 59, 59);
}
.content-header h1 {
  font-size: 64px;
  line-height: 80px;
}

.contact-header h2 {
  font-size: 32px;
  line-height: 80px;
  font-family: var(--p-font-family);
}
.contact-container {
  text-align: center;
  color: var(--primary-color);
  background: #f9f7fe;
}

.content {
  text-align: center;
  font-family: var(--p-font-family);
}

.question {
  text-align: center;
  color: #272142;
  margin: 12px;
}
.answer-question {
  display: flex;
  text-align: center;
  line-height: 30px;
  font-family: var(--p-font-family);
  justify-content: space-evenly;
}

.work-content h1 {
  text-align: left;
  font-size: 36px;
  text-transform: bold;
  margin: 85px 10px 24px 2px;
}

.mb-5 {
  margin: 159px 0px 0px 0px;
}

footer {
  margin: 55px 0;
}

footer .contact-box {
  background-image: url("https://img.freepik.com/free-vector/decorative-soft-pink-watercolor-texture-design-background-vector_1055-10739.jpg?size=626&ext=jpg");
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-align: center;
  font-size: 24px;
  color: #272142;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  background: #f9f7fe;
  color: (--primary-color);
  font-size: 18px;
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #f9f7fe;
  background: var(--primary-color);
}

@media (max-width: 960px) {
  .project-resume {
    padding: 0;
    text-align: center;
  }
  .landscape-spacing {
    padding: 0 0 50px;
    margin-bottom: -70px;
  }
  .project-description h2 {
    font-size: 55px;
  }

  .h1 {
    text-align: center;
    font-size: 57px;
  }
  .h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 26 px;
  }
}
